<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victory.balan_swing">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/golfball"
        android:label="@string/app_name"
        android:roundIcon="@drawable/golfball"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CompareActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PersonalActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SyncActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>